.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--logo-dark-color);

  &__part {
    color: var(--logo-color);
  }
}
